<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>发表评论</title>
  <script src="./lib/vue-2.4.0.js"></script>
  <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>
<style>

</style>
<body>
<div class="panel panel-primary" style="max-width:700px;margin:auto">
  <div class="panel-heading">
    <h4 class="title">发表评论小功能演示</h4>
  </div>
  <div class="panel-body">
    <div id="app">
      <com @func='loadComments'></com>

      <!-- 评论展示列表 -->
      <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
        <button class="btn btn-primary btn-xs" style="margin-right: 10px;" @click='del(item.id)'>删除</button>
          {{ item.content }}
          <span class="badge">评论人：{{ item.user }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

  <template id="tmpl">
    <div role="form">
      <div class="form-group">
        <label>评论人：</label>
        <input type="text" class="form-control" v-model="user" style="max-width:200px ;">
      </div>
      <div class="form-group">
        <label>评论内容：</label>
        <textarea class="form-control" v-model="content"></textarea>
      </div>
      <div class="form-group">
        <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
      </div>
    </div>
  </template>

<script>
//发表评论组件
var comBox={
      template:"#tmpl",
      data(){
        return {
          user:'',
          content:''
        }
      },
      methods:{
        postComment(){
          var comment={
            id:Date.now(),
            user:this.user,
            content:this.content
          };
          var list=JSON.parse(localStorage.getItem('cmts')||'[]');
          list.unshift(comment);
          localStorage.setItem('cmts',JSON.stringify(list));
          this.user=this.content='';
          this.$emit('func')
        }
      },
    };

var vm=new Vue({
  el:"#app",
  data:{
    listfixed:[
      { id: Date.now(), user: '李白', content: '天生我材必有用' },
      { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
    ],
    listtemp:[],
    list:[],
  },
  created(){
    this.loadComments()
  },
  methods:{
    //从localStorage里初始化评论列表
    loadComments(){
      var list=JSON.parse(localStorage.getItem('cmts')||'[]');
      this.listtemp=list;
      this.list=this.listtemp.concat(this.listfixed);
    },
    //删除评论
    del(id){
      var list=JSON.parse(localStorage.getItem('cmts')||'[]');
      var index=list.findIndex(item=>item.id==id);
      if(index!=-1){//如果在localStorage里
        list.splice(index,1);
        localStorage.setItem('cmts',JSON.stringify(list));
      }
      else{//否则在listfixed里
        var index=this.listfixed.findIndex(item=>item.id=id);
        if(index!=-1){
          this.listfixed.splice(index,1);
        }
      }
      this.loadComments()
    }
  },
  components:{
    "com":comBox
  }
});

</script>
</body>

</html>
